button,
.button {
  cursor: pointer;
  display: inline-block;
  font-size: 0.92rem;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
}

button:disabled,
.button:disabled {
  background-color: #D0D0D0;
  border-color: #D0D0D0;
  color: #E6E6E6;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  text-decoration: none;
}

button:active,
.button:active {
  text-decoration: none;
}


/* CUSTOM BUTTON: Green Gradation */
.btn-green-gradation {
	color: #fff;
	font-size: 28px;
	line-height: 36px;
	font-weight: 600;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 18px;
	padding-right: 18px;
	border-radius: 0 !important;
	background-image: url(https://assets.codepen.io/313247/ekg-white.png),
		url(https://assets.codepen.io/313247/green-gradient.png);
	background-position: left 50px, left -80px;
	background-repeat: no-repeat, repeat;
	transition: all 0.3s ease;
}

.btn-green-gradation:hover {
	color: #fff;
	text-decoration: none;
	background-position: left bottom, left -20px;
  -webkit-box-shadow: 10px 10px 99px 6px rgba(0, 171, 165, .3);
  -moz-box-shadow: 10px 10px 99px 6px rgba(0, 171, 165, .3);
  box-shadow: 10px 10px 99px 6px rgba(0, 171, 165, .3);
}

/* Hover Effects */
.hvr-grow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}