@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  line-height: 1.4;
  word-break: break-word;
}

html[lang^="ja"] body,
html[lang^="zh"] body,
html[lang^="ko"] body {
  line-break: strict;
  word-break: break-all;
}

/* Paragraphs */

p {
  font-size: 1rem;
  margin: 0 0 1.4rem;
}

/* Anchors */

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.4rem;
}

/* Lists */

ul,
ol {
  margin: 0 0 1.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

ul.no-list {
  list-style: none;
}

/* Code blocks */

pre {
  overflow: auto;
}

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 2px solid;
  margin: 0 0 1.4rem;
  padding-left: 15px;
}

/* Horizontal rules */

hr {
  background-color: #ccc;
  border: none;
  color: #ccc;
  height: 1px;
}

/* Image alt text */

img {
  font-size: 14px;
  word-break: normal;
}

.face-archivo {
  font-family: "Archivo", sans-serif;
}

.face-archivo-thin {
  font-family: "Archivo", sans-serif;
  font-weight: 100;
}

.face-archivo-semi-bold {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}

.face-archivo-semi-bold-italic {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-style: italic;
}


/* Title Gradation (gradient) */
.title-grade {
  background: -webkit-linear-gradient(rgba(0, 172, 161, 1.00),rgba(0, 69, 137, 1.00), #012446);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-weight: 700;
}


.title-grade-reverse {
  /*background: -webkit-linear-gradient(rgba(256, 256, 256, 1.00) 40%, #2DD3D4 70%, rgba(0, 172, 161, 1.00));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  color: #fff;
  font-style: italic;
  font-weight: 700;
	margin-bottom: 35px;
}

.title-grade,
.title-grade-reverse {
  font-size: 34px;
}

@media (min-width: 576px) {
  .title-grade,
  .title-grade-reverse {
    font-size: 38px;
  }
}
@media (min-width: 768px) {
  .title-grade,
  .title-grade-reverse {
    font-size: 44px;
  }
}
@media (min-width: 992px) {
  .title-grade,
  .title-grade-reverse {
    font-size: 54px;
  }
}
@media (min-width: 1200px) {
  .title-grade,
  .title-grade-reverse {
    font-size: 60px;
  }
}

@media (min-width: 1400px) {
  .title-grade,
  .title-grade-reverse {
    font-size: 64px;
  }
}



