.footer {
  background-color: {{ dnd_accent_bg_color }};
  text-align: center;
}
.footer__copyright {
  font-family: {{ secondary_font_family }};
  font-size: .7rem;
  margin: .5rem 0;
}

footer.footer .footer__container {
  padding: 0;
}

.footer-top .row-fluid > div {
  padding: 5px;
}
{#
.social a.twitter {
  background-image: url({{ get_asset_url('../images/twitter.svg' ) }});
  }
#}

.footer-top {
  background-image: url(//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/images/greyFOOTERoverlay.png);
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat;
}

footer.footer .span6 {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}

footer.footer .span3 {
  width: 25%;
  margin-left: 0;
  margin-right: 0;
}

.span6.footer-info {
  text-align: left;
}

.footer-top img {
  max-width: 100%;
}

.footer-info h3 {
  line-height: 2;
}

.footer-bottom .row-fluid > div {
  padding: 5px;
}

.footer-bottom .row-fluid:after {
  content: none;
}

.footer-bottom .row-fluid {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
}

.footer-bottom p {
  margin: 0;
}

.footer-menu-wrap .hs-menu-wrapper > ul {
  margin: 0;
  padding: 0.5rem 0;
  text-align: right;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2;
  font-family: "Lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 700;
  display: block;
}

.footer-menu-wrap .hs-menu-wrapper > ul > li {
  padding: 0 0.5rem;
  margin: 0;
  border-right: 1px #939597 solid;
  line-height: 23px;
  transform: skew(-20deg);
  display: inline-block;
}

.footer-menu-wrap .hs-menu-wrapper > ul > li:first-child {
  margin-left: -7px;
}

.footer-menu-wrap .hs-menu-wrapper>ul>li:last-child {
  border: 0;
}

.footer-menu-wrap .hs-menu-wrapper > ul > li > a {
  transform: skew(20deg);
  padding: 0;
  margin: 0;
  display: inline-block;
}

.copyright {
  text-align: left;
}

.back-top-warp {
  text-align: right;
}

.copyright p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

.back-top-inner {
  padding: 0.5rem 0;
  font-family: "Lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 700;
}

.footer-menu-inner {
  text-align: right;
}

.footer-bottom .hs-menu-item a:hover {
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2);
}

.footer-sep .footer__container {
  padding-top: 0;
  margin-top: -5px;
}

.footer-sep-inner {
  content: "";
  display: block;
  height: 20px;
  width: 100%;
  background: url(//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/images/titlecircle2.png);
  background-repeat: no-repeat;
  background-position: center right;
}

/*===================*/

@media(min-width:768px){
  .span3.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width:767px){
  .footer-bottom .row-fluid {
    display: block;
  }

  footer.footer .span3,footer.footer .span6 {
    width: 100%;
  }

  .back-top-inner,
  .footer-menu-wrap .hs-menu-wrapper>ul,
  .copyright {
    text-align: center;
  }

  .footer-menu-wrap .hs-menu-wrapper>ul {
    padding-left: 6px;
  }

  .footer-menu-wrap .hs-menu-wrapper>ul > li:last-child {
    margin-left: -6px;
  }

  .copyright p {
    /*     margin-bottom: 20px; */
  }

  .footer-logo p {
    line-height: 0;
  }

  .footer-info h3 {
    font-size: 1.5rem;
  }

  .footer.footer-lp .span6.footer-menu-wrap {
    display: none;
  }

}

@media(max-width:479px){

  .footer-menu-wrap .hs-menu-wrapper>ul>li:last-child {
    margin: 0;
  }

  .footer-menu-wrap .hs-menu-wrapper>ul {
    padding-left: 10px;
    padding-right: 10px;
  }

}