form {
  max-width: {{ form_max_width }};
  font-family: {{ secondary_font_family }};
}

.hs-button {
  margin: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  line-height: 1.1;
  position: relative;
  text-align: center;
  transition: all 0.15s linear;
  background-color: {{ form_button_color }};
  border-color: {{ form_button_color }};
  color: {{ form_button_text_color }};
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  font-size: .92rem;
  padding: 15px 53px;
  {# default "Get Free Widget" form (renders when no form is passed to the form HubL tag)
  is an anchor (a.hs-button) rather than a real input, so it needs explcit css to avoid link styling #}
  text-decoration: none;
  margin: 10px 0;

  line-height: 1.15;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-family: {{ form_button_font_family }};
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}

.hs-button:hover, .hs-button:focus {
  background-color: {{ form_button_color_hover }};
  border-color: {{ form_button_color_hover }};
  {# see "no form selected" note above #}
  color: {{ form_button_text_color }};
}

.hs-button:active {
  background-color: {{ form_button_color_active }};
  border-color: {{ form_button_color_active }};
}


.hs-form label {
/*   font-size: .83rem; */
  color: {{ form_label_color }};
/*   display: block; */
  float: none;
  width: auto;
  font-weight: normal;
  text-align: left;
/*   line-height: 1.2; */
  padding-top: 0;
  margin-bottom: 4px;
  display: inline;
}

.hs-error-msgs label {
  margin-top: .5rem;
  color: {{ form_error_label_color }} !important;
  font-size: 1rem;
  line-height: 2;
}

ul.inputs-list {
  margin: 0;
  padding: 0;
}

#hs-pwd-widget-password,
.hs-search-field__input,
.hs-input {
  display: inline-block;
  width: 100%;
  height: auto;
  padding:.344rem .375rem;
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
  color: {{ form_input_color }};
  background-color: #ffffff;
  border: 1px solid #D1D6DC;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: border 0.2s linear, box-shadow 0.2s linear;
  -moz-transition: border 0.2s linear, box-shadow 0.2s linear;
  transition: border 0.2s linear, box-shadow 0.2s linear;
}

#hs-pwd-widget-password {
  height: auto !important;
  margin: 0;
}

form#email-prefs-form input.email-edit.hs-input {
  width: 100% !important;
}

.hs-input[type=checkbox],
.hs-input[type=radio] {
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 5px 3px 0px;
  line-height: normal;
  border: none;
}

.hs-input[type=file] {
  background-color: #fff;
  padding: initial;
  border: initial;
  line-height: initial;
  box-shadow: none;
}

.hs-input:-moz-placeholder {
  color: {{ form_placeholder_color }};
}

.hs-input::-webkit-input-placeholder {
  color: {{ form_placeholder_color }};
}

.hs-input input,
.hs-input textarea {
  -webkit-transition: border 0.2s linear, box-shadow 0.2s linear;
  -moz-transition: border 0.2s linear, box-shadow 0.2s linear;
  transition: border 0.2s linear, box-shadow 0.2s linear;
}


.hs-input textarea:hover,
.hs-search-field__input:hover,
.hs-input:hover{
  box-shadow: 0 0 4px rgba(0, 37, 129, 0.5);
  -webkit-transition: border 0.2s linear, box-shadow 0.2s linear;
  -moz-transition: border 0.2s linear, box-shadow 0.2s linear;
  transition: border 0.2s linear, box-shadow 0.2s linear;
}

.hs-input textarea:focus,
.hs-search-field__input:focus,
.hs-input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

}

textarea.hs-input {
  height: auto;
  min-height: 182px;
}

select[multiple].hs-input {
  height: inherit;
}

select {
  cursor: pointer;
}

/* Force single column fields to full width inside of fieldsets */
fieldset.form-columns-1 .hs-input:not([type=radio]):not([type=checkbox]) {
  width: 100% !important;
}

input.hs-input.error,
div.field.error input,
div.field.error textarea,
div.field.error .chzn-choices,
textarea.hs-input.error,
select.hs-input.error {
  border-color: {{ form_error_border_color }};
}
input.hs-input.error:focus,
div.field.error input:focus,
div.field.error textarea:focus,
div.field.error .chzn-choices:focus,
textarea.hs-input.error:focus,
select.hs-input.error:focus {
  border-color: {{ form_error_focus_border_color }};
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.actions {
  padding: 0;
}

.inputs-list {
  margin: 0 0 5px;
  width: 100%;
  padding-left: 0;
}
.inputs-list > li {
  display: block;
  padding: 0;
  width: 100%;
  padding-top: 0;
}
.inputs-list label {
  display: block;
  float: none;
  width: auto;
  padding: 0;
  line-height: 18px;
  text-align: left;
  white-space: normal;
  font-weight: normal;
}
.inputs-list:first-child {
  /*   padding-top: 6px; */
}
.inputs-list > li + li {
  padding-top: 2px;
}
.inputs-list label > input,
.inputs-list label > span {
  vertical-align: middle;
}

ul.no-list {
  list-style: none;
}

.field {
  margin-bottom: 18px;
}

.hs-field-desc {
  color: {{ form_description_color }};
  margin: 0px 0px 6px;
  font-size: 14px;
}

.hs-form-required {
  color: red;
}

.hs-richtext {
  margin-bottom: 3px;
  line-height: 1.2;
  font-size: {{ body_font_size }};
  color: {{ body_color }};
}
.hs-richtext hr {
  text-align: left;
  margin-left: 0;
  width: 91%;
}

.grecaptcha-badge {
  margin: 0 auto;
}

.email-correction, .email-validation {
  padding-top: 3px;
  font-size: 12px;
}
.email-correction a,
.email-validation a {
  cursor: pointer;
}
@media (max-width: 400px),
  (min-device-width: 320px) and (max-device-width: 480px) {
    .email-correction form .form-columns-2 .hs-form-field,
    .email-correction form .form-columns-3 .hs-form-field,
    .email-validation form .form-columns-2 .hs-form-field,
    .email-validation form .form-columns-3 .hs-form-field {
      float: none;
      width: 100%;
    }
    .email-correction form .form-columns-2 .hs-form-field .hs-input,
    .email-correction form .form-columns-3 .hs-form-field .hs-input,
    .email-validation form .form-columns-2 .hs-form-field .hs-input,
    .email-validation form .form-columns-3 .hs-form-field .hs-input {
      width: 90%;
    }
    .email-correction form .form-columns-2 .hs-form-field input[type=checkbox],
    .email-correction form .form-columns-2 .hs-form-field input[type=radio],
    .email-correction form .form-columns-3 .hs-form-field input[type=checkbox],
    .email-correction form .form-columns-3 .hs-form-field input[type=radio],
    .email-validation form .form-columns-2 .hs-form-field input[type=checkbox],
    .email-validation form .form-columns-2 .hs-form-field input[type=radio],
    .email-validation form .form-columns-3 .hs-form-field input[type=checkbox],
    .email-validation form .form-columns-3 .hs-form-field input[type=radio] {
      width: 24px;
    }
}

.hs-button,
.hs-form-field input[type=text],
.hs-form-field input[type=email],
.hs-form-field input[type=phone],
.hs-form-field input[type=number],
.hs-form-field input[type=tel],
.hs-form-field input[type=date],
.hs-form-field textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.hs-default-font-element,
.hs-main-font-element {
  font-family: {{ body_font_family }};
}


/*======================*/

.btn-default,
.btn-green,
.btn-orange,
.btn-primary,
.btn {
  padding: 4px 11px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  display: inline-block;

  border-radius: .25rem;
  border: 0;
  color: #333;
  box-shadow: none;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border: 0;
  border-radius: 0.25rem;
  border: 0;
  color: #333;
  box-shadow: none;
  padding: 4px 12px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75)
}

.btn-default:active,
.btn-green:active,
.btn-orange:active,
.btn-primary:active,
.btn:active {
  background-image: none;
  outline: 0;
  background-color: #e6e6e6;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-default:hover,
.btn-green:hover,
.btn-orange:hover,
.btn-primary:hover,
.btn:hover,
.btn-default:focus,
.btn-green:focus,
.btn-orange:focus,
.btn-primary:focus,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.btn-default {
  box-shadow: none;
}

.btn-orange {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-green {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border-radius: 0.25rem;
  color: #333;
  box-shadow: none;
}

.btn-primary {
  font-family: "Lato", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.15;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background: #002581;
  color: #fff;
  border: 1px solid transparent;
  vertical-align: middle;
  text-shadow: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}


.btn-block {
  display: block;
}

.btn-default {
  border-radius: 0.25rem;
  border: 0;
  color: #333;
  box-shadow: none;
}

.btn-green:hover, .btn-green:focus,.btn-green:active {
  color: #ffffff;
  background-color: #51a351;
}

.btn-orange:hover, .btn-orange:focus,.btn-orange:active {
  color: #ffffff;
  background-color: #f89406;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active {
  background: #00164e;
  color: #fff;
}


@media (max-width: 479px) {

  .subscribe-options label {
    font-size: 13px;
    margin-left: 0;
    margin-right: 16px;
  }

  .hs_recaptcha.hs-recaptcha.field.hs-form-field {
    max-width: 300px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px;
  }

  .hs-author-profile .hs-author-avatar {
    float: none;
    margin-bottom: 10px;
  }

}
