@import url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Css/icomoon-1.css');

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 200;
  src: url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-light-webfont.eot#iefix') format("embedded-opentype"), 
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-light-webfont.woff2') format("woff2"),
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-light-webfont.woff') format("woff"), 
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-light-webfont.ttf') format("truetype");
}


@font-face {
  font-family: "Raleway";
  src: url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-regular-webfont.eot#iefix") format("embedded-opentype"),
    url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-regular-webfont.woff2") format("woff2"),
    url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-regular-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-medium-webfont.eot#iefix') format("embedded-opentype"),
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-medium-webfont.woff2') format("woff2"),
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-medium-webfont.woff') format("woff"), 
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-medium-webfont.ttf') format("truetype");
}


@font-face {
  font-family: "Raleway";
  src: url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-bold-webfont.eot#iefix") format("embedded-opentype"),
    url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-bold-webfont.woff2") format("woff2"),
    url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-bold-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}


@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-black-webfont.eot#iefix') format("embedded-opentype"),
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-black-webfont.woff2') format("woff2"),
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-black-webfont.woff') format("woff"),
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/raleway-black-webfont.ttf') format("truetype");
}


@font-face {
  font-family: "IcoMoon";
  src: url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/IcoMoon.eot") format("embedded-opentype"),
    url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/IcoMoon.woff") format("woff"),
    url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/IcoMoon.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}



@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 200;
  src: url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-light-webfont.eot#iefix') format("embedded-opentype"),
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-light-webfont.woff2') format("woff2"), 
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-light-webfont.woff') format("woff"),
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-light-webfont.ttf') format("truetype"), 
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-light-webfont.svg#lato') format("svg");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-regular-webfont.eot#iefix') format("embedded-opentype"), 
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-regular-webfont.woff2') format("woff2"), 
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-regular-webfont.woff') format("woff"), 
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-regular-webfont.ttf') format("truetype"),
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-regular-webfont.svg#lato') format("svg");
}

@font-face {
  font-family: "Lato";
  src: url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-bold-webfont.eot#iefix") format("embedded-opentype"),
    url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-bold-webfont.woff2") format("woff2"), 
    url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-bold-webfont.woff") format("woff"), 
    url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-bold-webfont.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-black-webfont.eot#iefix') format("embedded-opentype"), 
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-black-webfont.woff2') format("woff2"), 
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-black-webfont.woff') format("woff"), 
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-black-webfont.ttf') format("truetype"), 
    url('//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/lato-black-webfont.svg#lato') format("svg");
}

@font-face {
  font-family: "k-icons";
  src: url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/k-icons.eot?#iefix") format("embedded-opentype"), 
    url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/k-icons.woff") format("woff"),
    url("//cdn2.hubspot.net/hubfs/6039823/FreshByte_March2020/Fonts/k-icons.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*=====================*/

html {
  font-size: {{ base_font_size }};
}

body {
  font-family: {{ body_font_family }};
  font-size: {{ body_font_size }};
  color: {{ body_color }};
  line-height: 2;
  background: #fff;
  text-rendering: optimizespeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

p {
  margin: 1rem 0;
  /*   font-family: {{ body_font_family }}; */
}

/* Anchor Links */
a {
  color: {{ link_color }};
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
a:active, a:hover {
  outline: 0;
}

a:hover {
  color: {{ link_hover_color }};
}


::-moz-selection {
  color: #fff;
  background: #002581;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #002581;
  text-shadow: none;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.75rem 0 1.5rem 0;
  text-rendering: optimizeLegibility;
  line-height: 2;
  font-weight: {{ headings_font_weight }};
  font-family: {{ headings_font_family }};
  color: {{ headings_color }};
  word-break: break-word;
}

h1 {
  font-size: {{ h1_font_size }};
}

h2 {
  font-size: {{ h2_font_size }};
}

h3 {
  font-size: {{ h3_font_size }};
}

h4 {
  font-family: {{ secondary_font_family }};
  font-weight: normal;
  font-size: {{ h4_font_size }};

}

h5 {
  font-size: {{ h5_font_size }};

}

h6 {
  font-size: {{ h6_font_size }};

}

strong {
  font-weight: 700;
}

code {
  vertical-align: bottom;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li,
ol li {
  line-height:  1.5rem;
  line-height: inherit;
}

ul {
  margin-left: 1.5rem;
  padding: 0;
}

ol {
  padding-left: 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {

}

blockquote {
  padding: 0 0 0 0.938rem;
  margin: 0 0 1.5rem;
  border-left: 5px solid #e0e0e5;
}

/* Horizontal Rules */
hr {
  color: #ccc;
  background-color: #ccc;
  height: 1px;
  border: none;
}

/* TODO */
small {

}

/* TODO */
mark {

}
p {   
  margin: 1rem 0;
}

sup,
sub {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

:focus {
  outline: auto;
  outline-color: green;
}

.disable-focus-styles :focus {
  outline: none;
}

hr {
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5rem 0;
  height: 0;
  margin: 1.5rem 0;
  border-bottom: 1px solid #e0e0e5;
}

address {
  display: block;
  font-style: normal;
  margin-bottom: 1.5rem;
}   
img {
  height: auto;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}   


[class^="icon-"], [class*=" icon-"] {
  margin-right: .25em;
  line-height: 14px;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
}

[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
}

.icon-calendar:before {
  content: "\43";
}

.icon-chevron-right:before, .icon-rightarrow:before, .icon-arrow-right:before {
  content: "\e006";
}

.fa-phone:before {
  content: "\f095";
}
.fa-envelope:before {
  content: "\f0e0";
}


.k-icon-account-login:before, .k-icon-account-logout:before, .k-icon-action-redo:before, .k-icon-action-undo:before, .k-icon-align-center:before, .k-icon-align-left:before, .k-icon-align-right:before, .k-icon-aperture:before, .k-icon-arrow-bottom:before, .k-icon-arrow-circle-bottom:before, .k-icon-arrow-circle-left:before, .k-icon-arrow-circle-right:before, .k-icon-arrow-circle-top:before, .k-icon-arrow-left:before, .k-icon-arrow-right:before, .k-icon-arrow-thick-bottom:before, .k-icon-arrow-thick-left:before, .k-icon-arrow-thick-right:before, .k-icon-arrow-thick-top:before, .k-icon-arrow-top:before, .k-icon-audio-spectrum:before, .k-icon-audio:before, .k-icon-badge:before, .k-icon-ban:before, .k-icon-bar-chart:before, .k-icon-basket:before, .k-icon-battery-empty:before, .k-icon-battery-full:before, .k-icon-beaker:before, .k-icon-bell:before, .k-icon-bluetooth:before, .k-icon-bold:before, .k-icon-bolt:before, .k-icon-book:before, .k-icon-bookmark:before, .k-icon-box:before, .k-icon-briefcase:before, .k-icon-british-pound:before, .k-icon-browser:before, .k-icon-brush:before, .k-icon-bug:before, .k-icon-bullhorn:before, .k-icon-calculator:before, .k-icon-calendar:before, .k-icon-camera-slr:before, .k-icon-caret-bottom:before, .k-icon-caret-left:before, .k-icon-caret-right:before, .k-icon-caret-top:before, .k-icon-cart:before, .k-icon-chat:before, .k-icon-check:before, .k-icon-chevron-bottom:before, .k-icon-chevron-left:before, .k-icon-chevron-right:before, .k-icon-chevron-top:before, .k-icon-circle-check:before, .k-icon-circle-x:before, .k-icon-clipboard:before, .k-icon-clock:before, .k-icon-cloud-download:before, .k-icon-cloud-upload:before, .k-icon-cloud:before, .k-icon-cloudy:before, .k-icon-code:before, .k-icon-cog:before, .k-icon-collapse-down:before, .k-icon-collapse-left:before, .k-icon-collapse-right:before, .k-icon-collapse-up:before, .k-icon-command:before, .k-icon-comment-square:before, .k-icon-compass:before, .k-icon-contrast:before, .k-icon-copywriting:before, .k-icon-credit-card:before, .k-icon-crop:before, .k-icon-dashboard:before, .k-icon-data-transfer-download:before, .k-icon-data-transfer-upload:before, .k-icon-delete:before, .k-icon-dial:before, .k-icon-document:before, .k-icon-dollar:before, .k-icon-double-quote-sans-left:before, .k-icon-double-quote-sans-right:before, .k-icon-double-quote-serif-left:before, .k-icon-double-quote-serif-right:before, .k-icon-droplet:before, .k-icon-eject:before, .k-icon-elevator:before, .k-icon-ellipses:before, .k-icon-envelope-closed:before, .k-icon-envelope-open:before, .k-icon-euro:before, .k-icon-excerpt:before, .k-icon-expand-down:before, .k-icon-expand-left:before, .k-icon-expand-right:before, .k-icon-expand-up:before, .k-icon-external-link:before, .k-icon-eye:before, .k-icon-eyedropper:before, .k-icon-file:before, .k-icon-fire:before, .k-icon-flag:before, .k-icon-flash:before, .k-icon-folder:before, .k-icon-fork:before, .k-icon-fullscreen-enter:before, .k-icon-fullscreen-exit:before, .k-icon-globe:before, .k-icon-graph:before, .k-icon-grid-four-up:before, .k-icon-grid-three-up:before, .k-icon-grid-two-up:before, .k-icon-hard-drive:before, .k-icon-header:before, .k-icon-headphones:before, .k-icon-heart:before, .k-icon-home:before, .k-icon-image:before, .k-icon-inbox:before, .k-icon-infinity:before, .k-icon-info:before, .k-icon-italic:before, .k-icon-justify-center:before, .k-icon-justify-left:before, .k-icon-justify-right:before, .k-icon-key:before, .k-icon-laptop:before, .k-icon-layers:before, .k-icon-lightbulb:before, .k-icon-link-broken:before, .k-icon-link-intact:before, .k-icon-list-rich:before, .k-icon-list:before, .k-icon-location:before, .k-icon-lock-locked:before, .k-icon-lock-unlocked:before, .k-icon-loop-circular:before, .k-icon-loop-square:before, .k-icon-loop:before, .k-icon-magnifying-glass:before, .k-icon-map-marker:before, .k-icon-map:before, .k-icon-media-pause:before, .k-icon-media-play:before, .k-icon-media-record:before, .k-icon-media-skip-backward:before, .k-icon-media-skip-forward:before, .k-icon-media-step-backward:before, .k-icon-media-step-forward:before, .k-icon-media-stop:before, .k-icon-medical-cross:before, .k-icon-menu:before, .k-icon-microphone:before, .k-icon-minus:before, .k-icon-monitor:before, .k-icon-moon:before, .k-icon-move:before, .k-icon-musical-note:before, .k-icon-paperclip:before, .k-icon-pencil:before, .k-icon-people:before, .k-icon-person:before, .k-icon-phone:before, .k-icon-pie-chart:before, .k-icon-pin:before, .k-icon-play-circle:before, .k-icon-plus:before, .k-icon-power-standby:before, .k-icon-print:before, .k-icon-project:before, .k-icon-pulse:before, .k-icon-puzzle-piece:before, .k-icon-question-mark:before, .k-icon-rain:before, .k-icon-random:before, .k-icon-reload:before, .k-icon-resize-both:before, .k-icon-resize-height:before, .k-icon-resize-width:before, .k-icon-rss-alt:before, .k-icon-rss:before, .k-icon-script:before, .k-icon-share-boxed:before, .k-icon-share:before, .k-icon-shield:before, .k-icon-signal:before, .k-icon-signpost:before, .k-icon-sort-ascending:before, .k-icon-sort-descending:before, .k-icon-spreadsheet:before, .k-icon-star:before, .k-icon-sun:before, .k-icon-tablet:before, .k-icon-tag:before, .k-icon-tags:before, .k-icon-target:before, .k-icon-task:before, .k-icon-terminal:before, .k-icon-text:before, .k-icon-thumb-down:before, .k-icon-thumb-up:before, .k-icon-timer:before, .k-icon-transfer:before, .k-icon-trash:before, .k-icon-underline:before, .k-icon-vertical-align-bottom:before, .k-icon-vertical-align-center:before, .k-icon-vertical-align-top:before, .k-icon-video:before, .k-icon-volume-high:before, .k-icon-volume-low:before, .k-icon-volume-off:before, .k-icon-warning:before, .k-icon-wifi:before, .k-icon-wrench:before, .k-icon-x:before, .k-icon-yen:before, .k-icon-zoom-in:before, .k-icon-zoom-out:before, .k-icon-close:before, .k-icon-disabled:before, .k-icon-document-archive:before, .k-icon-document-audio:before, .k-icon-document-default:before, .k-icon-document-document:before, .k-icon-document-folder:before, .k-icon-document-image:before, .k-icon-document-pdf:before, .k-icon-document-spreadsheet:before, .k-icon-document-video:before, .k-icon-documents:before, .k-icon-enabled:before, .k-icon-filter:before, .k-icon-folder-closed:before, .k-icon-folder-opened:before, .k-icon-menu-closed:before, .k-icon-menu-opened:before, .k-icon-open:before {
  display: inline-block;
  margin: auto;
  width: 1em;
  height: 1em;
  line-height: 1;
}


.k-icon-account-login, .k-icon-account-logout, .k-icon-action-redo, .k-icon-action-undo, .k-icon-align-center, .k-icon-align-left, .k-icon-align-right, .k-icon-aperture, .k-icon-arrow-bottom, .k-icon-arrow-circle-bottom, .k-icon-arrow-circle-left, .k-icon-arrow-circle-right, .k-icon-arrow-circle-top, .k-icon-arrow-left, .k-icon-arrow-right, .k-icon-arrow-thick-bottom, .k-icon-arrow-thick-left, .k-icon-arrow-thick-right, .k-icon-arrow-thick-top, .k-icon-arrow-top, .k-icon-audio-spectrum, .k-icon-audio, .k-icon-badge, .k-icon-ban, .k-icon-bar-chart, .k-icon-basket, .k-icon-battery-empty, .k-icon-battery-full, .k-icon-beaker, .k-icon-bell, .k-icon-bluetooth, .k-icon-bold, .k-icon-bolt, .k-icon-book, .k-icon-bookmark, .k-icon-box, .k-icon-briefcase, .k-icon-british-pound, .k-icon-browser, .k-icon-brush, .k-icon-bug, .k-icon-bullhorn, .k-icon-calculator, .k-icon-calendar, .k-icon-camera-slr, .k-icon-caret-bottom, .k-icon-caret-left, .k-icon-caret-right, .k-icon-caret-top, .k-icon-cart, .k-icon-chat, .k-icon-check, .k-icon-chevron-bottom, .k-icon-chevron-left, .k-icon-chevron-right, .k-icon-chevron-top, .k-icon-circle-check, .k-icon-circle-x, .k-icon-clipboard, .k-icon-clock, .k-icon-cloud-download, .k-icon-cloud-upload, .k-icon-cloud, .k-icon-cloudy, .k-icon-code, .k-icon-cog, .k-icon-collapse-down, .k-icon-collapse-left, .k-icon-collapse-right, .k-icon-collapse-up, .k-icon-command, .k-icon-comment-square, .k-icon-compass, .k-icon-contrast, .k-icon-copywriting, .k-icon-credit-card, .k-icon-crop, .k-icon-dashboard, .k-icon-data-transfer-download, .k-icon-data-transfer-upload, .k-icon-delete, .k-icon-dial, .k-icon-document, .k-icon-dollar, .k-icon-double-quote-sans-left, .k-icon-double-quote-sans-right, .k-icon-double-quote-serif-left, .k-icon-double-quote-serif-right, .k-icon-droplet, .k-icon-eject, .k-icon-elevator, .k-icon-ellipses, .k-icon-envelope-closed, .k-icon-envelope-open, .k-icon-euro, .k-icon-excerpt, .k-icon-expand-down, .k-icon-expand-left, .k-icon-expand-right, .k-icon-expand-up, .k-icon-external-link, .k-icon-eye, .k-icon-eyedropper, .k-icon-file, .k-icon-fire, .k-icon-flag, .k-icon-flash, .k-icon-folder, .k-icon-fork, .k-icon-fullscreen-enter, .k-icon-fullscreen-exit, .k-icon-globe, .k-icon-graph, .k-icon-grid-four-up, .k-icon-grid-three-up, .k-icon-grid-two-up, .k-icon-hard-drive, .k-icon-header, .k-icon-headphones, .k-icon-heart, .k-icon-home, .k-icon-image, .k-icon-inbox, .k-icon-infinity, .k-icon-info, .k-icon-italic, .k-icon-justify-center, .k-icon-justify-left, .k-icon-justify-right, .k-icon-key, .k-icon-laptop, .k-icon-layers, .k-icon-lightbulb, .k-icon-link-broken, .k-icon-link-intact, .k-icon-list-rich, .k-icon-list, .k-icon-location, .k-icon-lock-locked, .k-icon-lock-unlocked, .k-icon-loop-circular, .k-icon-loop-square, .k-icon-loop, .k-icon-magnifying-glass, .k-icon-map-marker, .k-icon-map, .k-icon-media-pause, .k-icon-media-play, .k-icon-media-record, .k-icon-media-skip-backward, .k-icon-media-skip-forward, .k-icon-media-step-backward, .k-icon-media-step-forward, .k-icon-media-stop, .k-icon-medical-cross, .k-icon-menu, .k-icon-microphone, .k-icon-minus, .k-icon-monitor, .k-icon-moon, .k-icon-move, .k-icon-musical-note, .k-icon-paperclip, .k-icon-pencil, .k-icon-people, .k-icon-person, .k-icon-phone, .k-icon-pie-chart, .k-icon-pin, .k-icon-play-circle, .k-icon-plus, .k-icon-power-standby, .k-icon-print, .k-icon-project, .k-icon-pulse, .k-icon-puzzle-piece, .k-icon-question-mark, .k-icon-rain, .k-icon-random, .k-icon-reload, .k-icon-resize-both, .k-icon-resize-height, .k-icon-resize-width, .k-icon-rss-alt, .k-icon-rss, .k-icon-script, .k-icon-share-boxed, .k-icon-share, .k-icon-shield, .k-icon-signal, .k-icon-signpost, .k-icon-sort-ascending, .k-icon-sort-descending, .k-icon-spreadsheet, .k-icon-star, .k-icon-sun, .k-icon-tablet, .k-icon-tag, .k-icon-tags, .k-icon-target, .k-icon-task, .k-icon-terminal, .k-icon-text, .k-icon-thumb-down, .k-icon-thumb-up, .k-icon-timer, .k-icon-transfer, .k-icon-trash, .k-icon-underline, .k-icon-vertical-align-bottom, .k-icon-vertical-align-center, .k-icon-vertical-align-top, .k-icon-video, .k-icon-volume-high, .k-icon-volume-low, .k-icon-volume-off, .k-icon-warning, .k-icon-wifi, .k-icon-wrench, .k-icon-x, .k-icon-yen, .k-icon-zoom-in, .k-icon-zoom-out, .k-icon-close, .k-icon-disabled, .k-icon-document-archive, .k-icon-document-audio, .k-icon-document-default, .k-icon-document-document, .k-icon-document-folder, .k-icon-document-image, .k-icon-document-pdf, .k-icon-document-spreadsheet, .k-icon-document-video, .k-icon-documents, .k-icon-enabled, .k-icon-filter, .k-icon-folder-closed, .k-icon-folder-opened, .k-icon-menu-closed, .k-icon-menu-opened, .k-icon-open, .k-ui-namespace .footable.breakpoint .footable-toggle:after {
  speak: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: 'k-icons';
}


[class^="k-icon-document-"]:before, [class*=" k-icon-document-"]:before {
  background-size: cover;
}

.k-icon-document-default:before {
  content: "";
}
.k-icon-document-archive:before {
  content: "";
}
.k-icon-document-pdf:before {
  content: "";
}
.k-icon-document-pdf:before {
  content: "";
}

/* @media (max-width: 767px) {
html {
font-size: {{ base_font_scale * 0.75 ~ 'px' }}
}
}

@media (max-width: 480px) {
html {
font-size: {{ base_font_scale * 0.60 ~ 'px'}}
}
} */
