<!--
templateType: global_partial
label: Page Footer
-->

<footer class="footer">
  
<div class="footer_top container-fluid py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <p class="footer-contact-info d-flex flex-column align-items-start justify-content-center text-left">
          
        <span class="d-block">Contact FreshByte Software</span>

<span class="d-block"><span class="label">CALL</span><a href="tel:832-200-8000"><span itemprop="telephone" content="+18322008000">(832)-200-8000</span></a></span>

          <span class="d-block"><span class="label">MAIL</span> <a href="https://goo.gl/maps/aEkz5kCD2sPCRhMt5" target="_blank">10370 Richmond Ave., Suite 300, Houston, Texas 77042</a></span>

          <span class="d-block"><span class="label">EMAIL</span> <a href="mailto:sales@freshbyte.com">sales@freshbyte.com</a></span></p>
      </div> <!-- /.col -->
      
      
      
      <div class="col-12 col-md-4 d-flex flex-column footer-badge my-2 justify-content-center">
        <img src="https://f.hubspotusercontent20.net/hubfs/6039823/img/microsoft-gold-partner.png" alt="Microsoft Gold Application Development" class="d-block img-fluid mb-3">
        <img src="https://f.hubspotusercontent20.net/hubfs/6039823/img/CardConnect-Logo-1.png" alt="card connect" class="d-block img-fluid">
      </div> <!-- /.col -->
      <div class="col-12 col-md-2 footer-badge my-2 d-flex align-items-center">
        <img src="https://f.hubspotusercontent20.net/hubfs/6039823/img/windows-compatible.png" class="img-fluid windows-compatible" alt="Windows Compatible">
      </div> <!-- /.col -->

    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.container-fluid -->


  <div class=".container-fluid footer-bottom py-4">
    <div class="container footer__container">
      <div class="row">

        <div class="col-11 offset-1 col-md-6 offset-md-0 copyright d-flex justify-content-center justify-content-md-start align-items-center">
          <a href="https://www.freshbytesoftware.com/" class="d-block footer-logo-fb"><img src="https://f.hubspotusercontent20.net/hubfs/6039823/img/logo-fb.png"></a>
          <p class="ml-3">© FreshByte Software {{ year }}</p>
        </div>

        <div class="col-12 col-md-6 footer-menu-wrap d-flex align-items-center">
          <div class="footer-menu-inner">

            {% menu "my_menu-1"
            flow=, 
            root_type=site_root, 
            root_key="", 
            max_levels=1, 
            flyouts=true, 
            site_map_name="Footer Sitemap - FreshByte_March2020", 
            label="Footer Menu",
            id=""
          %} 

          </div>
        </div>



      </div>
    </div>
  </div>
</footer>