<div class="page_contact contact-block">
  <h3><strong>Zewski Corporation</strong></h3>
  <a href="https://goo.gl/maps/GPFf4EwACH42" target="_blank" rel="noopener">
    <div class="location-info">
      <img src="https://f.hubspotusercontent10.net/hubfs/2640811/img/icon-compass-zewski.svg" alt="location icon" class="icon-locale">
      <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">33300 Egypt Ln, Suite K700<br>Magnolia TX 77354</span>
      </div>
    </div> <!-- /.location-info -->
  </a> 
  <a class="phone-no" href="tel:832-934-8223">
    <span itemprop="telephone" content="+18329348223">
      <img class="phone-i" src="https://f.hubspotusercontent10.net/hubfs/2640811/img/icon-phone-zewski.svg"
        alt="phone icon"> <span>832.934.8223</span>
      </span>
  </a>
</div> <!-- /.page_contact -->