<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer container-fluid mb-2">
  <div class="row">
    <div class="col-12 col-md-7 offset-md-1 d-flex align-items-center pt-3">
      <p>© 2021 Zewski Corp. All Rights Reserved. Website Design & Inbound Marketing by <a
          href="https://www.adwhite.com">adWhite</a>.</p>
    </div> <!-- /.col -->
    <div class="col-12 col-md-3 d-flex justify-content-between pb-4 pb-md-0 pt-2 pl-lg-5">
      <a href="https://www.facebook.com/zewskicorp/" target="_blank" class="hvr-grow d-block social-link" alt="Facebook icon"><img
        src="https://f.hubspotusercontent10.net/hubfs/2640811/gx/icons/icon-facebook-white-square.svg"></a>
    <a href="https://twitter.com/ZewskiCorp" target="_blank" class="hvr-grow d-block social-link" alt="Twitter icon"><img
        src="https://f.hubspotusercontent10.net/hubfs/2640811/gx/icons/icon-twitter-white-square.svg"></a>
    <a href="https://www.linkedin.com/company/1910908?trk=vsrp_companies_res_name&amp;trkInfo=VSRPsearchId%3A125092391476683918394%2CVSRPtargetId%3A1910908%2CVSRPcmpt%3Aprimary"
      target="_blank" class="hvr-grow d-block social-link" alt="Linkedin icon"><img
        src="https://f.hubspotusercontent10.net/hubfs/2640811/gx/icons/icon-linkedin-white-square.svg"></a>
    <a href="https://www.youtube.com/channel/UCvCnTeFrQLN4a54AZ0lcWDA" target="_blank" class="hvr-grow d-block social-link"
      alt="YouTube icon"><img src="https://f.hubspotusercontent10.net/hubfs/2640811/gx/icons/icon-youtube-white-square.svg"></a>
    <a href="https://www.instagram.com/zewskicorporation/" target="_blank" class="hvr-grow d-block social-link" alt="Instagram icon"><img
        src="https://f.hubspotusercontent10.net/hubfs/2640811/gx/icons/icon-instagram-white-framed.svg"></a>
    </div> <!-- /.col -->
  </div> <!-- /.row -->
</footer>









